@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    
}

.sidebar {
    background-color: rgb(211, 165, 165);
    width: 434px;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}

.sidebar nav {
    padding: 40px;
    color:rgb(72, 63, 80); 
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;

}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
    background-color:antiquewhite;
}

.infoContainer {
    margin: 147px auto;
    /* background-color: rgb(235, 60, 145); */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;

}
.devInfo{
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.hello{
    font-size: 65px;
    /* font-weight: bold; */
}
.moreAbout{
    font-size: 22px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 23px;

}
.name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}
.about{
    font-size: 45px;
}

.devPic img {
    height: 60vh;
    width: 20vw;
   /* justify-content: space-around;*/
   margin: 20px;
   padding: 20px;
} 
.button{
    margin: 34px;
}
.btn1{
   padding: 9px 14px;
   border-radius: 22px;
   color: white;
   background-color: dodgerblue;
   font-weight: bold;
   font-size: 21px;
   margin: 0 3px;
   cursor: pointer;
}
.btn1:hover{
    background-color: white;
    color: dodgerblue;
}
.contactform{
    padding: 0 34px;
    padding-top: 144px; 

    font-family: 'Fira Sans', sans-serif;
}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding: 12px 0;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
.form-text{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}
#form-check{
    flex-direction: row;
    }
#form-check input{
   width: 24px;
   margin: 3px 0;
}

.blogItem{
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}
 h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
}
p{
    font-family: 'Source Code Pro', monospace;
    padding: 20px;
    font-weight: bold;
}
.btn-sm{
    font-size: 14px;
    padding: 7px 13px;
    margin: 12px 0;
}
.intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px 12px;
    margin-top: 35px;
}
.intro p{
    font-family:  'Source Code Pro', monospace;
}
.skill{
    width: 265px;
    height: 16px;
    background-color: rgba(243, 31, 172, 0.659);
    border: 2px solid white;
}
.skillcontainer{
    padding: 12px;
}
.skillItem{
    display: flex;
    align-items: center;
    font-family:  'Source Code Pro', monospace;
    font-weight: bold;
    padding: 10px;
}
.hundred{
    width: 265px;
    margin: 10px;
}
.s5{
    width: 200px;
   

    background-color:rgb(77, 68, 86);
}
.fifty{
    width: 125px;
    background-color:rgb(109, 148, 133); 
    
}
.t5{
    width: 75px;
    margin: 10px;
    background-color: rgb(99, 90, 80);
}


